%form.form-inline{:action => "/add", :method => "post"}
  .form-group
    %label{:for => "exampleInputName2"} Name
    %br/
    %input.form-control{:name => "name", :type => "text", :placeholder => "Name", :value => ""}/
    %br/
    %label{:for => "exampleInputName2"} Surname
    %br/
    %input.form-control{:name => "sur", :type => "text", :placeholder => "Surname", :value => ""}/
    %br/
    %label{:for => "exampleInputName2"} Age
    %br/
    %input.form-control{:name => "age", :type => "number", :placeholder => "Age", :value => ""}/
    %br/
    %br/
    %input.btn.btn-primary{:type => "submit", :value => "Submit"}/
