%form.form-inline{:action => "/update/#{params[:id]}", :method => "post"}
  Name:
  %br/
  %input.form-control{:name => "name", :type => "text", :value => "#{@user.name}"}/
  %br/
  Surname:
  %br/
  %input.form-control{:name => "sur", :type => "text", :value => "#{@user.sur}"}/
  %br/
  Age:
  %br/
  %input.form-control{:name => "age", :type => "text", :value => "#{@user.age}"}/
  %br/
  %br/
  %input.btn.btn-primary{:type => "submit", :value => "Submit"}/
