.row
  .col-sm-12
    %form.form-inline.text-center
      .form-group
        %input.form-control{:name => "search", :type => "text", :placeholder => "name, surname, age", :value => "#{params[:search]}", }/
        %input.btn.btn-primary{:type => "submit", :value => "Search"}
        %select.form-control{:name => "sort", :onchange =>"this.form.submit()"}
          %option{:value => "name", :selected => (params[:sort] == 'name')} Name
          %option{:value => "sur", :selected => (params[:sort] == 'sur')} Surname
          %option{:value => "age", :selected => (params[:sort] == 'age')} Age
        %select.form-control{:name => "order", :onchange =>"this.form.submit()"}
          %option{:value => "asc", :selected => (params[:order] == 'asc')} Ascending
          %option{:value => "desc", :selected => (params[:order] == 'desc')} Descending


.row
  .col-sm-12
    %a.btn.btn-success{:href => "/add"} Add user
    %table.table.table-striped
      %caption
        All Users
      %tr
        %th
          id
        %th
          Name
        %th
          Surname
        %th
          Age
        %th
          Delete
        %th
          Edit
      - @users.each_with_index do |u, i|
        %tr
          %td
            = i + 1 + (params[:page].to_i - 1) * 10
          %td
            = u.name
          %td
            = u.sur
          %td
            = u.age
          %td
            %form{:action => "/delete", :method => "post"}
              %input{:name => "id", :type => "hidden", :value => "#{u.id}"}/
              %input.btn.btn-danger{:type => "submit", :value => "remove"}/
          %td
            %a.btn.btn-warning{:href => "/edit/#{u.id}"} Edit

.row
  .col-sm-12.text-center
    %ul.pagination
      - @pages.times do |u|
        %li{:class => (params[:page].to_i == u + 1 ? 'active' : '')}
          %a{:href => "/?page=#{u + 1}&search=#{params[:search]}&sort=#{params[:sort]}&order=#{params[:order]}"}
            = u + 1
