html {
    position: relative;
    min-height: 100%;
}

body > .container {
    padding-top: 80px;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  display: block;
}

.container .text-muted {
    margin: 20px 0;
}
